{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image:  url('{% static "img/blubac.jpeg"%}')">
    <div class="filter"></div>
        <div class="container">
            <div class="motto text-center">
            </br>
            <h2>Acceso a la información pública</h2> 
            </div>
        </div>
  </div>
  <br/>
  <br/>
  <br/>
</div> 
<!-- Contenedor informativo-->
<div class="container">

      <div class="col-lg-12 col-md-12">
        <h2 class="title">Portal de Ley de Acceso a la Información Pública </h2>
        <p class="card-text text-justify">

En cumplimiento a lo establecido en la Ley de Acceso a la Información Pública (Decreto 57-2008 del Congreso de la República), ponemos a tu disposición el presente portal, con el propósito de facilitar el ejercicio del derecho fundamental que tiene toda persona para acceder a la información que genera, administra o está en poder del Ministerio de Finanzas Públicas. De esta manera, se contribuye a garantizar 
la transparencia en el manejo y ejecución de los recursos de la administración pública.
  
        </p>
        <br>
      </div>
    </div>
  </div>
<br/>

<div class="container" role="main">
  <div class="row">

      <div class="col-lg-9">
        <strong class="d-block h6 my-2 pb-2 border-bottom">Documentos Disponibles</strong>
        <br>
          <div class="row">
            {% for  documentos in object_list %}
              <div class="col-lg-12 card">
                  <div class="card-body col-lg-12">
          
                    <h4 class="card-title"  style="color: #353535; font-weight: regular;">{{ documentos.titulo  }}</h4>
                    <p class="card-text">={{ documentos.descripcion }}</p>
                    <p style="text-align: right;"><strong>Fecha publicacion:</strong> {{ documentosfecha_publicacion|date:"M d, Y" }}</p>
                    <p style="text-align: right;"><strong>Categoria:</strong> {{ documentos.categoria }}</p>
                    {% if documentos.enlace == null %}
                    <button class="btn btn-success btn-sm btn-round"> <a href="{{ documentos.cargar_archivo.url }}" style="color: #ffffff;    font-weight: bold;" target="_blank" >
                      Descargar Archivo</a> <i class="fa fa-download"></i></button>
                    {%else%}
                    <button class="btn btn-warning btn-sm btn-round"> <a href="{{ documentos.enlance }}" style="color: #ffffff;   font-weight: bold;" target="_blank" >
                      Enlace</a> <i class="fa fa-link"></i></button>
                    {% endif %}
                  </div>
              </div>
              {% endfor %}

          </div>
      </div>
      <div class="col-lg-3">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="just-padding">
            <br>
            <div class="container-fluid">
                  <strong class="d-block h6 my-2 pb-2 border-bottom">Contenido</strong>
                  <div>
                    <div class="list-group panel">
                      {% for categoria in categorias %}
                      <li class="list-group-item"><a href="?categoria={{ categoria.nombre_categoria}}" style="color: #1f1f1f;" class="d-flex">
                        <span>{{ categoria.categoria }}</span></a> 
                    </li>
                    {% endfor %} 
                    <li class="list-group-item"><a href="{% url 'informacion-publica' %}" style="color: #1f1f1f;" class="d-flex">
                      <span>Todo</span></a> 
                  </li>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
<!-- vista no disponble

  
    <strong class="d-block h6 my-2 pb-2 border-bottom">Contactanos</strong>
  <div class="row"> 
    <div class="col-lg-12">
      <div class="col-md-12 ml-auto mr-auto">
        <h4 class="text-center">Ponte en Contacto con nosostros</h4>
        <form class="contact-form">
          <div class="row">
            <div class="col-md-6">
              <label>Solicitante</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-single-02"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Nombre">
              </div>
            </div>
            <div class="col-md-6">
              <label>Email</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-email-85"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="ejemplo@ej.com">
              </div>
            </div>
            <div class="col-md-12">
              <label>Email</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="nc-icon nc-email-85"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="ejemplo@ej.com">
              </div>
            </div>
          </div>
          <label>Solicitud</label>
          <textarea class="form-control" rows="4" placeholder="Escribenos tu mensaje..."></textarea>
          <div class="row">
            <div class="col-md-4 ml-auto mr-auto">
              <button class="btn btn-default btn-sm btn-round">Enviar<i class="fa fa-send"></i></button>
            </div>
          </div>
        </form>
      </div>
    -->
    </div>
  </div>
  </div>
</div>



{% endblock content %}