{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image:  url('{% static "img/blubac.jpeg"%}')">
      <div class="filter"></div>
      <div class="container">
          <div class="motto text-center">
          </br>
            <h2>Equipo de trabajo </h2>
          
          </div>
        </div>
    </div>
</div>
<div class="section profile-content">
<div class="container">
  <div class="owner">
    <br/>
    <br/>
    <br/>
    <div class="name">
      <h4 class="title">Nuestro Equipo de trabajo
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto text-center">
      <p>Conformado por profesionales y especialistas de las diferentes ramas en las que nos especializamos</p>
    </div>
  </div>
  <br/>



  <div id="images">
    <div class="container">
      <div class="title">
        <h3>Coordinacion</h3>
      </div>
      <div class="row">

        <div class="col-sm-3 col-md-2 mr-auto ml-auto">
          <img src="{% static "img/willy.jpeg"%}"   class="img-circle img-no-padding img-responsive" alt="Rounded Image">
          <h8> Ing. Nombre Apellido </h8>
          <p>Una breve explicacion sobre quien es </p>
        </div>
        <div class="col-sm-3 col-md-2 mr-auto ml-auto">
          <img src="{% static "img/willy.jpeg"%}"   class="img-circle img-no-padding img-responsive" alt="Rounded Image">
          <h8> Ing. Nombre Apellido </h8>
          <p>Una breve explicacion sobre quien es </p>
        </div>
        <div class="col-sm-3 col-md-2 mr-auto ml-auto">
          <img src="{% static "img/willy.jpeg"%}"  class="img-circle img-no-padding img-responsive" alt="Rounded Image">
          <h8> Ing. Nombre Apellido </h8>
          <p>Una breve explicacion sobre quien es </p>
        </div>

  
      </div>

      <div class="title">
        <h3>Administracion</h3>
      </div>
      <div class="row">

        <div class="col-sm-3 col-md-2 mr-auto ml-auto">
          <img src="{% static "img/willy.jpeg"%}"   class="img-circle img-no-padding img-responsive" alt="Rounded Image">
          <h8> Ing. Nombre Apellido </h8>
          <p>Una breve explicacion sobre quien es </p>
        </div>
        <div class="col-sm-3 col-md-2 mr-auto ml-auto">
          <img src="{% static "img/willy.jpeg"%}"   class="img-circle img-no-padding img-responsive" alt="Rounded Image">
          <h8> Ing. Nombre Apellido </h8>
          <p>Una breve explicacion sobre quien es </p>
        </div>
        <div class="col-sm-3 col-md-2 mr-auto ml-auto">
          <img src="{% static "img/willy.jpeg"%}"  class="img-circle img-no-padding img-responsive" alt="Rounded Image">
          <h8> Ing. Nombre Apellido </h8>
          <p>Una breve explicacion sobre quien es </p>
        </div>
        <div class="col-sm-3 col-md-2 mr-auto ml-auto">
          <img src="{% static "img/willy.jpeg"%}"  class="img-circle img-no-padding img-responsive" alt="Rounded Image">
          <h8> Ing. Nombre Apellido </h8>
          <p>Una breve explicacion sobre quien es </p>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}