{% load static %}
<div class="section text-center">
  <div class="container">
    <h2 class="title text-center">Nuestros Socios</h2>
    <!--Modelo de cooperantes-->
  </br>
      <div class="row justify-content-md-center">
        <div class="col-sm-2 col-2 col-lg-2 portfolio-item ">
          <div> 
            <img class="card-img-top" src="{% static 'img/socios/sm.png' %}"  alt="Card image cap">
            <div class="card-body">
      
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-2 col-lg-2 portfolio-item">
          <div> 
            <img class="card-img-top" src="{% static 'img/socios/sm.png' %}"  alt="Card image cap">
            <div class="card-body">
    
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-2 col-lg-2 portfolio-item">
          <div> 
            <img class="card-img-top" src="{% static 'img/socios/sc.png' %}"  alt="Card image cap">
   
          </div>
        </div>
        <div class="col-sm-2 col-2  col-lg-2 portfolio-item">
          <div> 
            <img class="card-img-top" src="{% static 'img/socios/sm.png' %}"  alt="Card image cap">
            <div class="card-body">
            
            </div>
          </div>
        </div> 
        <div class="col-sm-2 col-2 col-lg-2 portfolio-item">
          <div> 
            <img class="card-img-top" src="{% static 'img/socios/sc.png' %}"  alt="Card image cap">
            <div class="card-body">

            </div>
          </div>
        </div> 
        <div class="col-sm-2 col-2 col-lg-2 portfolio-item">
          <div> 
            <img class="card-img-top" src="{% static 'img/socios/sm.png' %}"  alt="Card image cap">
            <div class="card-body">
            </div>
          </div>
        </div> 
       

      </div>
      </div>
    </div>
  </div>