{% load static %}
<div class="page-header section-dark" data-parallax="true" style="background-image:  url('{% static "img/sat.jpg"%}')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="motto text-center">
            <h2 class="presentation-title">MANCUERNA</h2>
            <h3>Mancomunidad de Municipios de la Cuenca del Río Naranjo.</h3>
            <br/>
            <button type="button" href="{% url 'noticias' %}" class="btn btn-outline-neutral btn-round">Actualidad</button>
          </div>
      </div>
    </div>
    <h6 class="category category-absolute">
       9na. Calle A, lote No. 24 Zona 3 San Marcos, Guatemala
    </h6>
</div>