{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<div class="main">
    <div class="section text-justify">
        
    <!--- Descativado por el momento
      <div class="container">
        <h2 class="title text-center">Sobre nosotros</h2>
      </br>
        <div class="row">
          <div class="col-sm-4 col-xs-4 col-lg-4">
            <div class="info">
              <div class="icon icon-warning">
                <i class="nc-icon nc-spaceship"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Nuestra Misión</h4>
                <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p> 
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-4 col-lg-4">
            <div class="info">
              <div class="icon icon-warning">
                <i class="nc-icon nc-zoom-split"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Nuestra Vision</h4>
                <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-4 col-lg-4">
            <div class="info">
              <div class="icon icon-warning">
                <i class="nc-icon nc-world-2"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Objetivos</h4>
                <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 -->
  

    <div class="row justify-content-md-center sharing-area text-center">
      <div class="text-center col-md-12 col-lg-8">
        <h3>Siguenos en nuestras redes</h3>
      </div>
      <div class="text-center col-md-12 col-lg-8">
        <a href="https://twitter.com/mancuerna_gt/" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
          <i class="fa fa-twitter"></i> Twitter
        </a>
        <a href="https://www.youtube.com/user/Mancuernav" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
          <i class="fa fa-youtube"></i> Google
        </a>
        <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
          <i class="https://www.facebook.com/MancuernaOrg/"></i> Facebook
        </a>
        
      </div>
    </div>
  </br>
</div>

{% endblock content %}